@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

.wrap > article:last-child {
  margin-right: 0 !important; }

.hidden {
  position: absolute;
  top: -9999px;
  font-size: 0;
  opacity: 0; }

body {
  font-family: "Noto Sans KR"; }

#header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #bbb;
  position: relative; }
  #header .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative; }
    #header .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 0; }
      #header .inner h1 a {
        font: 600 20px/1 "Noto Sans KR";
        color: #444; }
    #header .inner #gnb {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 750px; }
      #header .inner #gnb li {
        float: left;
        position: relative; }
        #header .inner #gnb li a {
          font: 400 16px/1 "Noto Sans KR";
          color: #666;
          display: inline-block;
          padding: 20px;
          box-sizing: border-box; }
        #header .inner #gnb li:last-child a {
          border-radius: 30px;
          border: 2px solid #555;
          padding: 5px 10px;
          margin-top: 15px;
          margin-left: 20px;
          font-size: 14px; }
    #header .inner .lan {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header .inner .lan li {
        float: left;
        margin-left: 10px; }
        #header .inner .lan li a {
          font: 400 13px/1 "Noto Sans KR";
          color: #555; }
    #header .inner .btnMo {
      display: none;
      width: 18px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -9px;
      overflow: hidden; }
      #header .inner .btnMo span {
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        text-indent: -9999px;
        position: absolute;
        top: 7px;
        left: 0;
        transition: 1s; }
      #header .inner .btnMo::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s; }
      #header .inner .btnMo::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 1s; }
      #header .inner .btnMo.on span {
        left: 100%;
        opacity: 0; }
      #header .inner .btnMo.on::before {
        top: 7px;
        transform: rotate(45deg);
        transition: top 0.6s, transform 0.6s 0.6s; }
      #header .inner .btnMo.on::after {
        bottom: 7px;
        transform: rotate(-45deg);
        transition: bottom 0.6s, transform 0.6s 0.6s; }
  #header .gnbMo {
    width: 100%;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    left: -100%;
    background: #19191a;
    opacity: 0;
    transition: 1s; }
    #header .gnbMo li {
      padding: 50px;
      border-bottom: 1px solid #444; }
      #header .gnbMo li a {
        font: 500 20px/1 "Noto Sans KR";
        color: #fff; }
    #header .gnbMo.on {
      left: 0;
      opacity: 1; }

#visual {
  width: 100%;
  height: calc(100vh - 81px);
  background-color: #ddd; }

#intro {
  width: 100%;
  padding: 100px 0; }
  #intro .inner {
    width: 1180px;
    margin: 0 auto; }
    #intro .inner h1 {
      font: 100 30px/1 "Noto Sans KR";
      color: #555;
      text-align: center;
      margin-bottom: 20px; }
    #intro .inner h2 {
      font: 300 20px/1.4 "Noto Sans KR";
      color: #333;
      text-align: center;
      margin-bottom: 100px; }
    #intro .inner .box {
      width: 100%;
      height: 400px;
      background: #555;
      position: relative;
      margin-bottom: 100px; }
      #intro .inner .box > div {
        width: 300px;
        height: 110%;
        background: #251F28;
        position: absolute;
        left: 100px;
        top: -5%;
        padding: 60px;
        border-radius: 5px; }
        #intro .inner .box > div h3 {
          font: 400 18px/1 "Noto Sans KR";
          color: #eee;
          text-align: center;
          letter-spacing: 2px;
          margin-bottom: 40px; }
          #intro .inner .box > div h3::after {
            content: '';
            display: block;
            width: 34px;
            height: 1px;
            background: #eee;
            margin-top: 30px;
            margin-left: calc(50% - 17px); }
        #intro .inner .box > div .pic {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: #bbb;
          margin: 0 auto;
          margin-bottom: 30px; }
        #intro .inner .box > div h4 {
          font: 300 18px/1 "Noto Sans KR";
          color: #ddd;
          text-align: center;
          margin-bottom: 15px; }
        #intro .inner .box > div p {
          font: 200 16px/1.4 "Noto Sans KR";
          color: #ddd;
          text-align: center; }
    #intro .inner .wrap {
      width: 80%;
      margin: 0 auto; }
      #intro .inner .wrap article {
        width: 33.333%;
        float: left;
        text-align: center;
        padding: 0 50px; }
        #intro .inner .wrap article .pic {
          display: inline-block;
          width: 100%;
          height: 200px;
          border-radius: 50%;
          background: #bbb;
          margin-bottom: 20px; }
        #intro .inner .wrap article h3 {
          font: 400 18px/1 "Noto Sans KR";
          color: #333;
          margin-bottom: 10px; }
        #intro .inner .wrap article p {
          font: 200 16px/1.4 "Noto Sans KR";
          color: #444; }

#service {
  width: 100%;
  height: 400px;
  background: #000;
  position: relative; }
  #service > div {
    width: 300px;
    height: 110%;
    background: #251F28;
    position: absolute;
    right: 20vw;
    top: -5%;
    padding: 60px;
    border-radius: 5px; }
    #service > div h1 {
      font: 400 18px/1 "Noto Sans KR";
      color: #eee;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 40px; }
      #service > div h1::after {
        content: '';
        display: block;
        width: 34px;
        height: 1px;
        background: #eee;
        margin-top: 30px;
        margin-left: calc(50% - 17px); }
    #service > div .pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #bbb;
      margin: 0 auto;
      margin-bottom: 30px; }
    #service > div h2 {
      font: 300 18px/1 "Noto Sans KR";
      color: #ddd;
      text-align: center;
      margin-bottom: 15px; }
    #service > div p {
      font: 200 16px/1.4 "Noto Sans KR";
      color: #ddd;
      text-align: center; }

#news {
  width: 100%;
  padding: 100px 0;
  background: #F5F5F5; }
  #news .inner {
    width: 1180px;
    margin: 0 auto; }
    #news .inner h1 {
      font: 100 30px/1 "Noto Sans KR";
      color: #555;
      text-align: center;
      margin-bottom: 20px; }
    #news .inner h2 {
      font: 300 20px/1.4 "Noto Sans KR";
      color: #333;
      text-align: center;
      margin-bottom: 100px; }
    #news .inner .pic {
      width: 100%;
      height: 400px;
      background: #000;
      margin-bottom: 100px; }
    #news .inner .wrap {
      width: 80%;
      margin: 0 auto; }
      #news .inner .wrap article {
        width: 33.333%;
        float: left;
        text-align: center;
        padding: 0 50px; }
        #news .inner .wrap article .pic {
          display: inline-block;
          width: 100%;
          height: 180px;
          border-radius: 5px;
          background: #bbb;
          margin-bottom: 20px; }
        #news .inner .wrap article h3 {
          font: 400 18px/1 "Noto Sans KR";
          color: #333;
          margin-bottom: 10px; }
        #news .inner .wrap article p {
          font: 200 16px/1.4 "Noto Sans KR";
          color: #444; }

#cs {
  width: 100%;
  padding: 100px 0; }
  #cs .inner {
    width: 1180px;
    margin: 0 auto; }
    #cs .inner .pic {
      width: 100%;
      height: 400px;
      background: #000;
      position: relative;
      padding: 100px 70px;
      padding-right: 70%; }
      #cs .inner .pic h1 {
        font: 100 30px/1 "Noto Sans KR";
        color: #ddd;
        margin-bottom: 30px; }
      #cs .inner .pic > p {
        font: 300 18px/1.6 "Noto Sans KR";
        color: #ddd; }
      #cs .inner .pic article {
        position: absolute;
        top: -5%;
        right: 100px;
        width: 500px;
        height: 50%;
        background: #251F28;
        border-radius: 5px;
        padding: 60px 0;
        padding-left: 180px; }
        #cs .inner .pic article:nth-of-type(2) {
          top: auto;
          bottom: -5%; }
        #cs .inner .pic article .icon {
          position: absolute;
          top: 50px;
          left: 50px;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: #322D35;
          border: 1px solid #4e4a50; }
        #cs .inner .pic article h2 {
          font: 300 18px/1 "Noto Sans KR";
          color: #ddd;
          margin-bottom: 15px; }
        #cs .inner .pic article p {
          font: 200 16px/1.6 "Noto Sans KR";
          color: #ddd; }

#footer {
  width: 100%;
  padding: 100px 0;
  background: #232D3A; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer .inner .wrap .address {
      float: left;
      width: 380px;
      margin-right: 20px;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      box-sizing: border-box; }
      #footer .inner .wrap .address h1 {
        font: 20px/1 "Noto Sans KR";
        color: #eee;
        margin-bottom: 40px; }
      #footer .inner .wrap .address address {
        font: 300 16px/1.6 "Noto Sans KR";
        color: #bbb;
        margin-bottom: 50px; }
      #footer .inner .wrap .address p {
        font: 300 16px/1.6 "Noto Sans KR";
        color: #bbb;
        margin-bottom: 20px; }
    #footer .inner .wrap .contact {
      float: left;
      width: 380px;
      margin-right: 20px;
      padding-left: 30px;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      box-sizing: border-box; }
      #footer .inner .wrap .contact h2 {
        font: 16px/1 "Noto Sans KR";
        color: #eee;
        margin-bottom: 40px;
        position: relative; }
        #footer .inner .wrap .contact h2::after {
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background: #bbb;
          position: absolute;
          left: 0;
          bottom: -12px; }
      #footer .inner .wrap .contact address {
        font: 300 16px/2 "Noto Sans KR";
        color: #aaa;
        margin-bottom: 40px; }
        #footer .inner .wrap .contact address i {
          font-size: 16px;
          color: #aaa;
          margin-right: 10px; }
      #footer .inner .wrap .contact .sns li {
        float: left; }
        #footer .inner .wrap .contact .sns li a {
          font-size: 18px;
          color: #aaa;
          margin-right: 20px; }
    #footer .inner .wrap .about {
      float: right;
      width: 380px;
      padding-left: 30px; }
      #footer .inner .wrap .about h2 {
        font: 16px/1 "Noto Sans KR";
        color: #eee;
        margin-bottom: 40px;
        position: relative; }
        #footer .inner .wrap .about h2::after {
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background: #bbb;
          position: absolute;
          left: 0;
          bottom: -12px; }
      #footer .inner .wrap .about .wrap ul li {
        padding: 10px 0; }
        #footer .inner .wrap .about .wrap ul li a {
          font: 300 16px/1 "Noto Sans KR";
          color: #aaa; }
      #footer .inner .wrap .about .wrap .left {
        float: left;
        width: 50%; }
      #footer .inner .wrap .about .wrap .right {
        float: left;
        width: 50%; }

@media screen and (max-width: 1179px) {
  #header {
    padding: 0 30px; }
    #header .inner {
      width: 100%; }
      #header .inner #gnb {
        display: none; }
      #header .inner .lan {
        right: 50px; }
      #header .inner .btnMo {
        display: block; }

  #content {
    padding: 100px 30px; }
    #content .inner {
      width: 100%; }
      #content .inner .wrap article {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 30px; }
        #content .inner .wrap article:nth-of-type(even) {
          margin-right: 0; }

  #footer {
    padding: 100px 30px; }
    #footer .inner {
      width: 100%; }
      #footer .inner .wrap > div:nth-of-type(n+1) {
        width: 33%;
        margin-right: 0; } }
@media screen and (max-width: 539px) {
  #header {
    padding: 0 10px; }
    #header .inner .lan {
      display: none; } }

/*# sourceMappingURL=style.css.map */
