@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

.wrap > article:last-child {
  margin-right: 0 !important; }

.hidden {
  position: absolute;
  top: -9999px;
  font-size: 0;
  opacity: 0; }

fieldset {
  border: none; }

.textarea:focus, input:focus {
  outline: none; }

body {
  font-family: "Noto Sans KR"; }

#header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #bbb;
  position: relative; }
  #header .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative; }
    #header .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 0; }
      #header .inner h1 a {
        font: 600 20px/1 "Noto Sans KR";
        color: #232D3A; }
    #header .inner #gnb {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 750px; }
      #header .inner #gnb li {
        float: left;
        position: relative; }
        #header .inner #gnb li a {
          font: 400 16px/1 "Noto Sans KR";
          color: #666;
          display: inline-block;
          padding: 20px; }
        #header .inner #gnb li:last-child a {
          border-radius: 30px;
          border: 2px solid #555;
          padding: 5px 10px;
          margin-top: 15px;
          margin-left: 20px;
          font-size: 14px; }
    #header .inner .lan {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header .inner .lan li {
        float: left;
        margin-left: 10px; }
        #header .inner .lan li a {
          font: 400 13px/1 "Noto Sans KR";
          color: #555; }
    #header .inner .btnMo {
      display: none;
      width: 18px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -9px;
      overflow: hidden; }
      #header .inner .btnMo span {
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        text-indent: -9999px;
        position: absolute;
        top: 7px;
        left: 0;
        transition: 1s; }
      #header .inner .btnMo::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s; }
      #header .inner .btnMo::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 1s; }
      #header .inner .btnMo.on span {
        left: 100%;
        opacity: 0; }
      #header .inner .btnMo.on::before {
        top: 7px;
        transform: rotate(45deg);
        transition: top 0.6s, transform 0.6s 0.6s; }
      #header .inner .btnMo.on::after {
        bottom: 7px;
        transform: rotate(-45deg);
        transition: bottom 0.6s, transform 0.6s 0.6s; }
  #header .gnbMo {
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: -100%;
    background: #19191a;
    opacity: 0;
    transition: 1s; }
    #header .gnbMo li {
      padding: 50px;
      border-bottom: 1px solid #444; }
      #header .gnbMo li a {
        font: 500 20px/1 "Noto Sans KR";
        color: #fff; }
    #header .gnbMo.on {
      left: 0;
      opacity: 1; }

#visual {
  width: 100%;
  height: calc(100vh - 81px);
  background-color: #ddd; }

#intro {
  width: 100%;
  padding: 100px 0; }
  #intro .inner {
    width: 1180px;
    margin: 0 auto; }
    #intro .inner h1 {
      font: 100 30px/1 "Noto Sans KR";
      color: #555;
      text-align: center;
      margin-bottom: 20px; }
    #intro .inner h2 {
      font: 300 20px/1.4 "Noto Sans KR";
      color: #333;
      text-align: center;
      margin-bottom: 100px; }
    #intro .inner .box {
      width: 100%;
      height: 400px;
      background: #555;
      position: relative;
      margin-bottom: 100px; }
      #intro .inner .box > div {
        width: 300px;
        height: 110%;
        background: #251F28;
        position: absolute;
        left: 100px;
        top: -5%;
        padding: 60px;
        border-radius: 5px; }
        #intro .inner .box > div h3 {
          font: 400 18px/1 "Noto Sans KR";
          color: #eee;
          text-align: center;
          letter-spacing: 2px;
          margin-bottom: 40px; }
          #intro .inner .box > div h3::after {
            content: '';
            display: block;
            width: 34px;
            height: 1px;
            background: #eee;
            margin-top: 30px;
            margin-left: calc(50% - 17px); }
        #intro .inner .box > div .pic {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: #bbb;
          margin: 0 auto;
          margin-bottom: 30px; }
        #intro .inner .box > div h4 {
          font: 300 18px/1 "Noto Sans KR";
          color: #ddd;
          text-align: center;
          margin-bottom: 15px; }
        #intro .inner .box > div p {
          font: 200 16px/1.4 "Noto Sans KR";
          color: #ddd;
          text-align: center; }
    #intro .inner .wrap {
      width: 80%;
      margin: 0 auto; }
      #intro .inner .wrap article {
        width: 33.333%;
        float: left;
        text-align: center;
        padding: 0 50px; }
        #intro .inner .wrap article .pic {
          display: inline-block;
          width: 100%;
          height: 200px;
          border-radius: 50%;
          background: #bbb;
          margin-bottom: 20px; }
        #intro .inner .wrap article h3 {
          font: 400 18px/1 "Noto Sans KR";
          color: #333;
          margin-bottom: 10px; }
        #intro .inner .wrap article p {
          font: 200 16px/1.4 "Noto Sans KR";
          color: #444; }

#service {
  width: 100%;
  height: 400px;
  background: #000;
  position: relative; }
  #service > div {
    width: 300px;
    height: 110%;
    background: #251F28;
    position: absolute;
    right: 20vw;
    top: -5%;
    padding: 60px;
    border-radius: 5px; }
    #service > div h1 {
      font: 400 18px/1 "Noto Sans KR";
      color: #eee;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 40px; }
      #service > div h1::after {
        content: '';
        display: block;
        width: 34px;
        height: 1px;
        background: #eee;
        margin-top: 30px;
        margin-left: calc(50% - 17px); }
    #service > div .pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #bbb;
      margin: 0 auto;
      margin-bottom: 30px; }
    #service > div h2 {
      font: 300 18px/1 "Noto Sans KR";
      color: #ddd;
      text-align: center;
      margin-bottom: 15px; }
    #service > div p {
      font: 200 16px/1.4 "Noto Sans KR";
      color: #ddd;
      text-align: center; }

#news {
  width: 100%;
  padding: 100px 0;
  background: #F5F5F5; }
  #news .inner {
    width: 1180px;
    margin: 0 auto; }
    #news .inner h1 {
      font: 100 30px/1 "Noto Sans KR";
      color: #555;
      text-align: center;
      margin-bottom: 20px; }
    #news .inner h2 {
      font: 300 20px/1.4 "Noto Sans KR";
      color: #333;
      text-align: center;
      margin-bottom: 100px; }
    #news .inner .pic {
      width: 100%;
      height: 400px;
      background: #000;
      margin-bottom: 100px; }
    #news .inner .wrap {
      width: 80%;
      margin: 0 auto; }
      #news .inner .wrap article {
        width: 33.333%;
        float: left;
        text-align: center;
        padding: 0 50px; }
        #news .inner .wrap article .pic {
          display: inline-block;
          width: 100%;
          height: 180px;
          border-radius: 5px;
          background: #bbb;
          margin-bottom: 20px; }
        #news .inner .wrap article h3 {
          font: 400 18px/1 "Noto Sans KR";
          color: #333;
          margin-bottom: 10px; }
        #news .inner .wrap article p {
          font: 200 16px/1.4 "Noto Sans KR";
          color: #444; }

#cs {
  width: 100%;
  padding: 100px 0; }
  #cs .inner {
    width: 1180px;
    margin: 0 auto; }
    #cs .inner .pic {
      width: 100%;
      height: 400px;
      background: #000;
      position: relative;
      padding: 100px 70px;
      padding-right: 70%; }
      #cs .inner .pic h1 {
        font: 100 30px/1 "Noto Sans KR";
        color: #ddd;
        margin-bottom: 30px; }
      #cs .inner .pic > p {
        font: 300 18px/1.6 "Noto Sans KR";
        color: #ddd; }
      #cs .inner .pic article {
        position: absolute;
        top: -5%;
        right: 100px;
        width: 500px;
        height: 50%;
        background: #251F28;
        border-radius: 5px;
        padding: 60px 0;
        padding-left: 180px; }
        #cs .inner .pic article:nth-of-type(2) {
          top: auto;
          bottom: -5%; }
        #cs .inner .pic article .icon {
          position: absolute;
          top: 50px;
          left: 50px;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: #322D35;
          border: 1px solid #4e4a50; }
        #cs .inner .pic article h2 {
          font: 300 18px/1 "Noto Sans KR";
          color: #ddd;
          margin-bottom: 15px; }
        #cs .inner .pic article p {
          font: 200 16px/1.6 "Noto Sans KR";
          color: #ddd; }

#footer {
  width: 100%;
  padding: 100px 0;
  background: #232D3A; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer .inner .wrap > div {
      float: left;
      width: 380px;
      margin-right: 20px;
      padding-left: 30px;
      border-right: 1px solid rgba(255, 255, 255, 0.1); }
      #footer .inner .wrap > div.contact {
        padding-left: 0; }
        #footer .inner .wrap > div.contact h2 {
          font: 16px/1 "Noto Sans KR";
          color: #eee;
          margin-bottom: 20px;
          position: relative; }
          #footer .inner .wrap > div.contact h2::after {
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: #bbb;
            margin-top: 10px; }
        #footer .inner .wrap > div.contact address {
          font: 300 16px/2 "Noto Sans KR";
          color: #aaa;
          margin-bottom: 40px; }
          #footer .inner .wrap > div.contact address i {
            font-size: 16px;
            color: #aaa;
            margin-right: 10px; }
        #footer .inner .wrap > div.contact .sns li {
          float: left; }
          #footer .inner .wrap > div.contact .sns li:hover a {
            color: #aaa; }
          #footer .inner .wrap > div.contact .sns li a {
            font-size: 18px;
            color: #777;
            margin-right: 20px;
            transition: .4s; }
          #footer .inner .wrap > div.contact .sns li:last-child a {
            margin-right: 0; }
      #footer .inner .wrap > div.about h2 {
        font: 16px/1 "Noto Sans KR";
        color: #eee;
        margin-bottom: 20px;
        position: relative; }
        #footer .inner .wrap > div.about h2::after {
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background: #bbb;
          margin-top: 10px; }
      #footer .inner .wrap > div.about .wrap ul li {
        margin-bottom: 10px; }
        #footer .inner .wrap > div.about .wrap ul li a {
          font: 300 16px/1 "Noto Sans KR";
          color: #aaa;
          transition: .4s; }
          #footer .inner .wrap > div.about .wrap ul li a:hover {
            color: #eee; }
      #footer .inner .wrap > div.about .wrap .left {
        float: left;
        width: 50%; }
      #footer .inner .wrap > div.about .wrap .right {
        float: left;
        width: 50%; }
      #footer .inner .wrap > div.company {
        margin-right: 0;
        border-right: none; }
        #footer .inner .wrap > div.company h1 {
          font: 20px/1 "Noto Sans KR";
          color: #eee;
          margin-bottom: 40px; }
        #footer .inner .wrap > div.company h2 {
          font: 300 16px/1 "Noto Sans KR";
          color: #bbb;
          margin-bottom: 50px; }
          #footer .inner .wrap > div.company h2 span {
            display: block;
            margin-bottom: 10px; }
        #footer .inner .wrap > div.company p {
          font: 300 14px/1.6 "Noto Sans KR";
          color: #bbb; }
          #footer .inner .wrap > div.company p span {
            display: block; }

@media screen and (max-width: 1179px) {
  #header {
    padding: 0 30px; }
    #header .inner {
      width: 100%; }
      #header .inner #gnb {
        display: none; }
      #header .inner .lan {
        right: 50px; }
      #header .inner .btnMo {
        display: block; }

  #footer {
    padding: 100px 30px; }
    #footer .inner {
      width: 100%; }
      #footer .inner .wrap > div {
        width: 33%;
        margin-right: 0; } }
@media screen and (max-width: 980px) {
  #footer {
    padding: 80px 20px 30px; }
    #footer .inner .wrap > div {
      width: 50%; }
      #footer .inner .wrap > div.contact address {
        font-size: 14px; }
      #footer .inner .wrap > div.about {
        border-right: none; }
        #footer .inner .wrap > div.about .wrap ul li a {
          font-size: 14px; }
      #footer .inner .wrap > div.company {
        width: 100%;
        text-align: center;
        margin-top: 50px; }
        #footer .inner .wrap > div.company h1 {
          display: none; }
        #footer .inner .wrap > div.company h2 {
          font-size: 13px;
          margin-bottom: 10px; }
          #footer .inner .wrap > div.company h2 span {
            display: inline-block;
            margin-right: 20px; }
        #footer .inner .wrap > div.company p {
          font-size: 12px;
          line-height: 1; }
          #footer .inner .wrap > div.company p span {
            display: inline-block;
            margin-right: 5px; } }
@media screen and (max-width: 539px) {
  #header {
    padding: 0 10px; }
    #header .inner .lan {
      display: none; }

  #footer {
    padding: 50px 10px 20px; }
    #footer .inner .wrap > div {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      padding-left: 0;
      border-right: none; }
      #footer .inner .wrap > div.contact h2::after {
        display: none; }
      #footer .inner .wrap > div.contact address {
        margin-bottom: 20px;
        line-height: 1.8; }
        #footer .inner .wrap > div.contact address i {
          font-size: 13px; }
      #footer .inner .wrap > div.contact .sns {
        display: inline-block; }
        #footer .inner .wrap > div.contact .sns li a {
          font-size: 16px; }
      #footer .inner .wrap > div.about h2::after {
        display: none; }
      #footer .inner .wrap > div.about .wrap .left, #footer .inner .wrap > div.about .wrap .right {
        width: 100%;
        font-size: 0; }
        #footer .inner .wrap > div.about .wrap .left li, #footer .inner .wrap > div.about .wrap .right li {
          display: inline-block;
          margin-right: 10px; }
      #footer .inner .wrap > div.company {
        margin: 0; }
        #footer .inner .wrap > div.company h2 span {
          margin-right: 5px;
          font-size: 12px; } }
#header_sub {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #bbb;
  position: relative; }
  #header_sub .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative; }
    #header_sub .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 0; }
      #header_sub .inner h1 a {
        font: 600 20px/1 "Noto Sans KR";
        color: #232D3A; }
    #header_sub .inner #gnb {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 750px; }
      #header_sub .inner #gnb li {
        float: left;
        position: relative; }
        #header_sub .inner #gnb li a {
          font: 400 16px/1 "Noto Sans KR";
          color: #666;
          display: inline-block;
          padding: 20px; }
        #header_sub .inner #gnb li:last-child a {
          border-radius: 30px;
          border: 2px solid #555;
          padding: 5px 10px;
          margin-top: 15px;
          margin-left: 20px;
          font-size: 14px; }
    #header_sub .inner .lan {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header_sub .inner .lan li {
        float: left;
        margin-left: 10px; }
        #header_sub .inner .lan li a {
          font: 400 13px/1 "Noto Sans KR";
          color: #555; }
    #header_sub .inner .btnMo {
      display: none;
      width: 18px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -9px;
      overflow: hidden; }
      #header_sub .inner .btnMo span {
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        text-indent: -9999px;
        position: absolute;
        top: 7px;
        left: 0;
        transition: 1s; }
      #header_sub .inner .btnMo::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s; }
      #header_sub .inner .btnMo::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #444;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 1s; }
      #header_sub .inner .btnMo.on span {
        left: 100%;
        opacity: 0; }
      #header_sub .inner .btnMo.on::before {
        top: 7px;
        transform: rotate(45deg);
        transition: top 0.6s, transform 0.6s 0.6s; }
      #header_sub .inner .btnMo.on::after {
        bottom: 7px;
        transform: rotate(-45deg);
        transition: bottom 0.6s, transform 0.6s 0.6s; }
  #header_sub .gnbMo {
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: -100%;
    background: #19191a;
    opacity: 0;
    transition: 1s; }
    #header_sub .gnbMo li {
      padding: 50px;
      border-bottom: 1px solid #444; }
      #header_sub .gnbMo li a {
        font: 500 20px/1 "Noto Sans KR";
        color: #fff; }
    #header_sub .gnbMo.on {
      left: 0;
      opacity: 1; }

@media screen and (max-width: 1179px) {
  #header_sub {
    padding: 0 30px; }
    #header_sub .inner {
      width: 100%; }
      #header_sub .inner #gnb {
        display: none; }
      #header_sub .inner .lan {
        right: 50px; }
      #header_sub .inner .btnMo {
        display: block; } }
@media screen and (max-width: 539px) {
  #header_sub {
    padding: 0 10px; }
    #header_sub .inner .lan {
      display: none; } }
.content {
  width: 100%; }
  .content .visual {
    width: 100%;
    height: 300px;
    background: #bbb; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 500px;
    padding: 100px 0; }
    .content .inner h1 {
      font: 400 30px/1 "Noto Sans KR";
      color: #111;
      text-align: center;
      margin-bottom: 100px; }
      .content .inner h1 span {
        font-size: 16px;
        font-weight: 400;
        color: #444; }
        .content .inner h1 span::before {
          content: '/';
          padding: 0 10px 0 15px; }

@media screen and (max-width: 1179px) {
  .content .inner {
    width: 100%;
    padding: 100px 30px; } }
@media screen and (max-width: 539px) {
  .content .inner {
    padding: 50px 20px; }
    .content .inner h1 {
      margin-bottom: 50px; } }
#footer_sub {
  width: 100%;
  padding: 100px 0;
  background: #232D3A; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer_sub .inner .wrap > div {
      float: left;
      width: 380px;
      margin-right: 20px;
      padding-left: 30px;
      border-right: 1px solid rgba(255, 255, 255, 0.1); }
      #footer_sub .inner .wrap > div.contact {
        padding-left: 0; }
        #footer_sub .inner .wrap > div.contact h2 {
          font: 16px/1 "Noto Sans KR";
          color: #eee;
          margin-bottom: 20px;
          position: relative; }
          #footer_sub .inner .wrap > div.contact h2::after {
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: #bbb;
            margin-top: 10px; }
        #footer_sub .inner .wrap > div.contact address {
          font: 300 16px/2 "Noto Sans KR";
          color: #aaa;
          margin-bottom: 40px; }
          #footer_sub .inner .wrap > div.contact address i {
            font-size: 16px;
            color: #aaa;
            margin-right: 10px; }
        #footer_sub .inner .wrap > div.contact .sns li {
          float: left; }
          #footer_sub .inner .wrap > div.contact .sns li:hover a {
            color: #aaa; }
          #footer_sub .inner .wrap > div.contact .sns li a {
            font-size: 18px;
            color: #777;
            margin-right: 20px;
            transition: .4s; }
          #footer_sub .inner .wrap > div.contact .sns li:last-child a {
            margin-right: 0; }
      #footer_sub .inner .wrap > div.about h2 {
        font: 16px/1 "Noto Sans KR";
        color: #eee;
        margin-bottom: 20px;
        position: relative; }
        #footer_sub .inner .wrap > div.about h2::after {
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background: #bbb;
          margin-top: 10px; }
      #footer_sub .inner .wrap > div.about .wrap ul li {
        margin-bottom: 10px; }
        #footer_sub .inner .wrap > div.about .wrap ul li a {
          font: 300 16px/1 "Noto Sans KR";
          color: #aaa;
          transition: .4s; }
          #footer_sub .inner .wrap > div.about .wrap ul li a:hover {
            color: #eee; }
      #footer_sub .inner .wrap > div.about .wrap .left {
        float: left;
        width: 50%; }
      #footer_sub .inner .wrap > div.about .wrap .right {
        float: left;
        width: 50%; }
      #footer_sub .inner .wrap > div.company {
        margin-right: 0;
        border-right: none; }
        #footer_sub .inner .wrap > div.company h1 {
          font: 20px/1 "Noto Sans KR";
          color: #eee;
          margin-bottom: 40px; }
        #footer_sub .inner .wrap > div.company h2 {
          font: 300 16px/1 "Noto Sans KR";
          color: #bbb;
          margin-bottom: 50px; }
          #footer_sub .inner .wrap > div.company h2 span {
            display: block;
            margin-bottom: 10px; }
        #footer_sub .inner .wrap > div.company p {
          font: 300 14px/1.6 "Noto Sans KR";
          color: #bbb; }
          #footer_sub .inner .wrap > div.company p span {
            display: block; }

@media screen and (max-width: 1179px) {
  #footer_sub {
    padding: 100px 30px; }
    #footer_sub .inner {
      width: 100%; }
      #footer_sub .inner .wrap > div {
        width: 33%;
        margin-right: 0; } }
@media screen and (max-width: 980px) {
  #footer_sub {
    padding: 80px 20px 30px; }
    #footer_sub .inner .wrap > div {
      width: 50%; }
      #footer_sub .inner .wrap > div.contact address {
        font-size: 14px; }
      #footer_sub .inner .wrap > div.about {
        border-right: none; }
        #footer_sub .inner .wrap > div.about .wrap ul li a {
          font-size: 14px; }
      #footer_sub .inner .wrap > div.company {
        width: 100%;
        text-align: center;
        margin-top: 50px; }
        #footer_sub .inner .wrap > div.company h1 {
          display: none; }
        #footer_sub .inner .wrap > div.company h2 {
          font-size: 13px;
          margin-bottom: 10px; }
          #footer_sub .inner .wrap > div.company h2 span {
            display: inline-block;
            margin-right: 20px; }
        #footer_sub .inner .wrap > div.company p {
          font-size: 12px;
          line-height: 1; }
          #footer_sub .inner .wrap > div.company p span {
            display: inline-block;
            margin-right: 5px; } }
@media screen and (max-width: 539px) {
  #footer_sub {
    padding: 50px 10px 20px; }
    #footer_sub .inner .wrap > div {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      padding-left: 0;
      border-right: none; }
      #footer_sub .inner .wrap > div.contact h2::after {
        display: none; }
      #footer_sub .inner .wrap > div.contact address {
        margin-bottom: 20px;
        line-height: 1.8; }
        #footer_sub .inner .wrap > div.contact address i {
          font-size: 13px; }
      #footer_sub .inner .wrap > div.contact .sns {
        display: inline-block; }
        #footer_sub .inner .wrap > div.contact .sns li a {
          font-size: 16px; }
      #footer_sub .inner .wrap > div.about h2::after {
        display: none; }
      #footer_sub .inner .wrap > div.about .wrap .left, #footer_sub .inner .wrap > div.about .wrap .right {
        width: 100%;
        font-size: 0; }
        #footer_sub .inner .wrap > div.about .wrap .left li, #footer_sub .inner .wrap > div.about .wrap .right li {
          display: inline-block;
          margin-right: 10px; }
      #footer_sub .inner .wrap > div.company {
        margin: 0; }
        #footer_sub .inner .wrap > div.company h2 span {
          margin-right: 5px;
          font-size: 12px; } }
.join .inner h2 {
  font: 400 16px/1 "Noto Sans KR";
  color: #000;
  margin-bottom: 15px; }
.join .inner .policy {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
  font: 300 16px/1.4 "Noto Sans KR";
  border: 1px solid #bbb;
  color: #333;
  margin-bottom: 5px; }
  .join .inner .policy::-webkit-scrollbar {
    width: 13px; }
  .join .inner .policy::-webkit-scrollbar-thumb {
    background-color: #777;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 5px; }
  .join .inner .policy::-webkit-scrollbar-track {
    background-color: #ddd; }
.join .inner input[type="checkbox"] {
  display: none; }
  .join .inner input[type="checkbox"]:checked + label {
    color: tomato; }
  .join .inner input[type="checkbox"]:checked + label::before {
    border-color: tomato;
    background-color: tomato; }
.join .inner label {
  font: 400 13px/1 "Noto Sans KR";
  color: #555;
  display: inline-block;
  margin-bottom: 100px;
  cursor: pointer; }
  .join .inner label::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #555;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer; }
.join .inner table {
  width: 100%;
  text-align: left; }
  .join .inner table caption {
    text-align: left;
    font: 400 16px/1 "Noto Sans KR";
    color: #000;
    margin-bottom: 20px; }
  .join .inner table tr {
    width: 100%;
    display: inline-block; }
    .join .inner table tr th {
      font: 400 14px/1 "Noto Sans KR";
      color: #333;
      width: 100%;
      margin-bottom: 5px;
      display: block; }
    .join .inner table tr td {
      width: 100%;
      display: block; }
      .join .inner table tr td input[type="text"], .join .inner table tr td input[type="password"] {
        width: 100%;
        height: 40px;
        border: none;
        border-bottom: 1px solid #888;
        font: 400 16px/1 "Noto Sans KR";
        color: #555;
        margin-bottom: 50px;
        padding-left: 10px; }
        .join .inner table tr td input[type="text"]::placeholder, .join .inner table tr td input[type="password"]::placeholder {
          font: 300 16px/1 "Noto Sans KR";
          color: #888; }
    .join .inner table tr p {
      font: 300 13px/1 "Noto Sans KR";
      color: tomato; }
.join .inner .info {
  margin-bottom: 50px; }
  .join .inner .info tr:nth-of-type(2), .join .inner .info tr:nth-of-type(3) {
    width: 49.5%;
    margin-right: 1%; }
  .join .inner .info tr:nth-of-type(3) {
    margin-right: 0; }
  .join .inner .info tr:nth-of-type(5) input[type="text"] {
    margin-bottom: 5px; }
  .join .inner .info tr:nth-of-type(5) td label {
    margin-bottom: 50px; }
  .join .inner .info tr:nth-of-type(6) {
    width: 34%;
    margin-right: 1%; }
  .join .inner .info tr:nth-of-type(7) {
    width: 65%; }
    .join .inner .info tr:nth-of-type(7) td {
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #888;
      font-size: 18px;
      margin-bottom: 50px;
      font-weight: bold; }
      .join .inner .info tr:nth-of-type(7) td span {
        display: block;
        width: 100px;
        height: 100%;
        background: url(../img/number.png) no-repeat center/contain;
        transition: .4s; }
        .join .inner .info tr:nth-of-type(7) td span:hover {
          transform: scale(2) translate(10px, 8px); }
.join .inner .address tr:nth-of-type(2) {
  position: relative;
  width: 19%;
  margin-right: 1%; }
.join .inner .address tr:nth-of-type(3) {
  width: 64%; }
.join .inner .address tr input[type="button"] {
  position: absolute;
  bottom: 0;
  left: calc(1180px - 180px); }
.join .inner .address tr input[type="button"], .join .inner .address tr input[type="submit"] {
  width: 180px;
  height: 40px;
  border: 1px solid #888;
  font: 400 13px/40px "Noto Sans KR";
  color: #111;
  background: transparent;
  margin-bottom: 50px;
  transition: background-color 0.6s;
  cursor: pointer; }
  .join .inner .address tr input[type="button"]:hover, .join .inner .address tr input[type="submit"]:hover {
    background-color: #232D3A;
    color: #fff; }
.join .inner .address tr input[type="submit"] {
  margin-bottom: 0; }
.join .inner .address tr:last-child {
  text-align: right; }

@media screen and (max-width: 1179px) {
  .join .inner .address tr:nth-of-type(2), .join .inner .address tr:nth-of-type(3) {
    width: 100%;
    margin-right: 0; }
  .join .inner .address tr input[type="button"] {
    left: calc(100% - 180px); } }
@media screen and (max-width: 539px) {
  .join .inner .policy {
    padding: 10px;
    font-size: 14px; }
  .join .inner .info tr:nth-of-type(2), .join .inner .info tr:nth-of-type(3) {
    width: 100%;
    margin-right: 0; }
  .join .inner .address tr:last-child {
    text-align: center; }
  .join .inner .address tr input[type="button"] {
    width: 100px;
    left: calc(100% - 100px); } }
.community .inner .membership {
  width: 100%;
  text-align: center;
  margin-bottom: 200px; }
  .community .inner .membership article {
    width: 280px;
    height: 230px;
    float: left;
    position: relative;
    padding: 0 20px;
    margin-right: 20px; }
    .community .inner .membership article::after {
      content: "";
      display: block;
      width: 1px;
      height: 40px;
      background-color: #bbb;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -20px; }
    .community .inner .membership article:last-child {
      margin-right: 0; }
      .community .inner .membership article:last-child::after {
        display: none; }
    .community .inner .membership article i {
      font-size: 50px;
      margin-bottom: 30px;
      color: #232D3A; }
    .community .inner .membership article h3 {
      font: 400 20px/1 "Noto Sans KR";
      color: #111;
      margin-bottom: 20px; }
    .community .inner .membership article p {
      font: 400 14px/1.4 "Noto Sans KR";
      color: #333; }
    .community .inner .membership article .btn {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      font: 300 12px/1 "Noto Sans KR";
      color: #000;
      letter-spacing: 1px;
      transition: 0.6s; }
      .community .inner .membership article .btn:hover {
        font-weight: 500; }

/*# sourceMappingURL=style.css.map */
