@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&Montserrat:wght@100&:wght@100;300;500&display=swap');
@import 'reset';

$font : 'Montserrat';
$tablet : 1179px;
$mobile : 539px;

#header{
    width: 100%;
    background: #000;
    border-bottom: 1px solid #333;
    position: relative;

    .inner{
        width: 1180px;
        height: 80px;
        margin: 0 auto;
        position: relative;

        h1{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 0;

            a{
                font: 600 20px/1 "Gowun Batang";
                color: #ddd;
                transition: .4s;

                &:hover{
                    color: #fff;
                }
            }
        }
        #gnb{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 750px;

            li{
                float: left;
                position: relative;

                &:not(:last-child)::after{
                    content: '';
                    display: block;
                    width: 0px;
                    height: 2px;
                    background: #eee;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -12px;
                    transition: .6s;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                    a{
                        color: #eee;
                    }
                    &:last-child a{
                        border-color: #eee;
                    }
                }
                a{
                    font: 500 16px/1 'Montserrat';
                    color: #bbb;
                    display: inline-block;
                    padding: 20px;
                    transition: .4s;
                }
                &:last-child a{
                    border-radius: 30px;
                    border: 2px solid #555;
                    padding: 5px 10px;
                    margin-top: 15px;
                    margin-left: 20px;
                    font-size: 14px;
                }
            }
        }
        .lan{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            li{
                float: left;
                margin-left: 10px;

                a{
                    font: 400 13px/1 'Montserrat';
                    color: #bbb;
                    transition: .4s;

                    &:hover{
                        color: #eee;
                    }
                }
            }
        }
        .btnMo{
            display: none;
            width: 18px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -9px;
            overflow: hidden;

            &:hover{
                span{background: #eee;}

                &::before, &::after{
                    background: #eee;
                }
            }
            span{
                display: block;
                width: 100%;
                height: 2px;
                background: #bbb;
                text-indent: -9999px;
                position: absolute;
                top: 7px;
                left: 0;
                transition: 1s;
            }
            &::before{
                content:'';
                display: block;
                width: 100%;
                height: 2px;
                background: #bbb;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s;
            }
            &::after{
                content:'';
                display: block;
                width: 100%;
                height: 2px;
                background: #bbb;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 1s;
            }
            &.on{
                span{
                    left: 100%;
                    opacity: 0;
                }
                &::before{
                    top: 7px;
                    transform: rotate(45deg);
                    transition: top 0.6s, transform 0.6s 0.6s;
                }
                &::after{
                    bottom: 7px;
                    transform: rotate(-45deg);
                    transition: bottom 0.6s, transform 0.6s 0.6s;
                }
            }
        }
    }
    .gnbMo{
        width: 100%;
        height: calc(100vh - 81px);
        position: absolute;
        top: 81px;
        left: -100%;
        background: #000;
        opacity: 0;
        transition: 1s;
        z-index: 10;

        li{
            border-bottom: 1px solid #444;
            transition: .6s;

            &:hover{
                background: #444;

                a{
                    color: #fff;
                }
            }
            a{
                display: block;
                padding: 50px;
                font: 500 20px/1 $font;
                color: #ddd;
                transition: .6s;
            }
        }
        &.on{
            left: 0;
            opacity: 1;
        }
    }
}

#visual{
    width: 100%;
    height: calc(100vh - 81px);
    background-color: #000;
    position: relative;
    overflow: hidden;

    .circle{
        width: 80vw;
        height: 80vw;
        border-radius: 50%;
        background: #bbb url(../img/visual.jpg) no-repeat center/cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .inner{
            width: 60%;
            height: 60%;
            border-radius: 50%;
            background: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
    h1{
        width: 100%;
        font: 600 11vw/1 $font;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        span{
            color: transparent;
            -webkit-text-stroke: 2px #fff;
        }
    }
    .con{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30vw;

        h2{
            font: 100 14px/1 $font;
            color: #fff;
            letter-spacing: 2px;
            text-align: center;
            margin-bottom: 20px;
            opacity: 0.3;
        }
        p{
            font: 300 14px/2 $font;
            color: #fff;
            letter-spacing: 2px;
            text-align: center;
            opacity: 0.4;
        }
    }
}

#content{
    width: 100%;

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
    }
    .intro{
        width: 100%;
        height: 100vh;
        padding: 100px 0;
        overflow: hidden;

        &.on{
            .box{
                opacity: 1;

                >div{
                    left: 100px;
                }
            }
            .wrap article{
                transform: translateY(0px);
                opacity: 1;
            }
        }
        .box{
            width: 100%;
            height: 400px;
            background: #555 url(../img/bg1.jpg) no-repeat center/cover;
            position: relative;
            margin-bottom: 60px;
            opacity: 0;
            transition: .8s;

            >div{
                width: 300px;
                height: 110%;
                background: #251F28;
                position: absolute;
                left: 700px;
                top: -5%;
                padding: 60px;
                border-radius: 5px;
                transition: 1s;

                h1{
                    font: 400 18px/1 $font;
                    color: #eee;
                    text-align: center;
                    letter-spacing: 2px;
                    margin-bottom: 40px;

                    &::after{
                        content:'';
                        display: block;
                        width: 34px;
                        height: 1px;
                        background: #eee;
                        margin-top: 30px;
                        margin-left: calc(50% - 17px);
                    }
                }
                .pic{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: #bbb;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h2{
                    font: 300 18px/1 $font;
                    color: #ddd;
                    text-align: center;
                    margin-bottom: 15px;
                }
                p{
                    font: 200 16px/1.4 $font;
                    color: #ddd;
                    text-align: center;
                }
            }
        }
        .wrap{
            width: 80%;
            margin: 0 auto;

            article{
                width: 33.333%;
                float: left;
                text-align: center;
                padding: 0 50px;
                transform: translateY(100px);
                opacity: 0;
                transition: .6s;

                &:nth-of-type(2){transition-delay: .2s;}
                &:nth-of-type(3){transition-delay: .4s;}
                .pic{
                    display: inline-block;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background: #bbb;
                    margin-bottom: 20px;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h3{
                    font: 400 18px/1 $font;
                    color: #333;
                    margin-bottom: 10px;
                }
                p{
                    font: 200 16px/1.4 $font;
                    color: #444;
                }
            }
        }
    }
    .service{
        width: 100%;
        height: 100vh;
        padding: 100px 0;
        overflow: hidden;

        &.on{
            h1, >p{
                opacity: 1;
                transform: translateY(0px);
            }
            .bg{
                opacity: 1;

                .box{
                    right: 20vw;
                }
            }
        }
        h1{
            font: 500 30px/1 $font;
            color: #111;
            margin-bottom: 20px;
            text-align: center;
            opacity: 0;
            transform: translateY(-100px);
            transition: .6s;
        }
        >p{
            width: 300px;
            font: 300 16px/1.4 $font;
            color: #777;
            margin: 0 auto;
            margin-bottom: 70px;
            text-align: center;
            opacity: 0;
            transform: translateY(-100px);
            transition: .6s;
        }
        .bg{
            width: 100%;
            height: 500px;
            background: #000 url(../img/bg2.jpg) no-repeat center/cover;
            position: relative;
            opacity: 0;
            transition: .6s;

            .box{
                width: 300px;
                height: 110%;
                background: #251F28;
                position: absolute;
                right: 70%;
                top: -5%;
                padding: 100px 60px;
                border-radius: 5px;
                transition: .8s;
        
                h2{
                    font: 400 18px/1 $font;
                    color: #eee;
                    text-align: center;
                    letter-spacing: 2px;
                    margin-bottom: 50px;
        
                    &::after{
                        content:'';
                        display: block;
                        width: 34px;
                        height: 1px;
                        background: #eee;
                        margin-top: 30px;
                        margin-left: calc(50% - 17px);
                    }
                }
                .pic{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: #bbb;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h3{
                    font: 300 18px/1 $font;
                    color: #ddd;
                    text-align: center;
                    margin-bottom: 15px;
                }
                p{
                    font: 200 16px/1.4 $font;
                    color: #ddd;
                    text-align: center;
                }
            }
        }
    }
    .news{
        width: 100%;
        height: 100vh;
        padding: 100px 0;
        background: #F5F5F5;
        overflow: hidden;

        &.on{
            .pic{
                opacity: 1;
            }
            .wrap article{
                transform: translateY(0px);
                opacity: 1;
            }
        }
        .pic{
            width: 100%;
            height: 400px;
            background: #000 url(../img/bg3.jpg) no-repeat center/cover;
            margin-bottom: 70px;
            opacity: 0;
            transition: 1s;
        }
        .wrap{
            width: 80%;
            margin: 0 auto;

            article{
                width: 33.333%;
                float: left;
                text-align: center;
                padding: 0 50px;
                transform: translateY(200px);
                opacity: 0;
                transition: .6s;

                &:nth-of-type(2){transition-delay: 0.2s;}
                &:nth-of-type(3){transition-delay: 0.4s;}
                .pic{
                    display: inline-block;
                    width: 180px;
                    height: 180px;
                    border-radius: 5px;
                    background: #bbb;
                    margin-bottom: 20px;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h1{
                    font: 400 18px/1 $font;
                    color: #333;
                    margin-bottom: 10px;
                }
                p{
                    font: 200 16px/1.4 $font;
                    color: #444;
                }
            }
        }
    }
    .cs{
        width: 100%;
        height: 100vh;
        padding: 200px 0;
        overflow: hidden;

        &.on{
            .pic{
                opacity: 1;
            }
            article{
                opacity: 1;

                &:nth-of-type(1), &:nth-of-type(2){
                    transform: translateY(0px);
                }
            }
        }
        .pic{
            width: 100%;
            height: 500px;
            background: #000 url(../img/bg4.jpg) no-repeat center/cover;
            padding: 100px 70px;
            padding-right: 70%;
            opacity: 0;
            transition: .8s;

            h1{
                font: 100 30px/1 $font;
                color: #ddd;
                margin-bottom: 30px;
            }
            >p{
                font: 300 18px/1.6 $font;
                color: #ddd;
            }
        }
        article{
            position: absolute;
            top: -5%;
            right: 100px;
            width: 500px;
            height: 50%;
            background: #251F28;
            border-radius: 5px;
            padding: 80px 0;
            padding-left: 180px;
            opacity: 0;
            transition: 1s;

            &:nth-of-type(1){
                transform: translateY(-100px);
            }
            &:nth-of-type(2){
                top: auto;
                bottom: -5%;
                transform: translateY(100px);
            }
            .icon{
                position: absolute;
                top: 70px;
                left: 50px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #322D35;
                border: 1px solid #4e4a50;
                padding: 10px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: .3;
                }
            }
            h2{
                font: 300 18px/1 $font;
                color: #ddd;
                margin-bottom: 15px;
            }
            p{
                font: 200 16px/1.6 $font;
                color: #ddd;
            }
        }
    }
}

#footer{
    width: 100%;
    padding: 80px 0;
    background: #232D3A;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{
            >div{
                float: left;
                width: 380px;
                margin-right: 20px;
                padding-left: 30px;
                border-right: 1px solid rgba(255,255,255,0.1);

                &.contact{
                    padding-left: 0;

                    h1{
                        font: 16px/1 "Gowun Batang";
                        color: #eee;
                        margin-bottom: 20px;
                        position: relative;

                        &::after{
                            content:'';
                            display: block;
                            width: 24px;
                            height: 2px;
                            background: #bbb;
                            margin-top: 10px;
                        }
                    }
                    address{
                        font: 300 16px/2 $font;
                        color: #aaa;
                        margin-bottom: 40px;

                        i{
                            font-size: 16px;
                            color: #aaa;
                            margin-right: 10px;
                        }
                    }
                    .sns{
                        li{
                            float: left;

                            &:hover a{
                                color: #aaa;
                            }
                            a{
                                font-size: 18px;
                                color: #777;
                                margin-right: 20px;
                                transition: .4s;
                            }
                            &:last-child a{
                                margin-right: 0;
                            }
                        }
                    }
                }
                &.about{
                    h1{
                        font: 16px/1 "Gowun Batang";
                        color: #eee;
                        margin-bottom: 20px;
                        position: relative;

                        &::after{
                            content:'';
                            display: block;
                            width: 24px;
                            height: 2px;
                            background: #bbb;
                            margin-top: 10px;
                        }
                    }
                    .wrap{
                        ul{
                            li{
                                margin-bottom: 10px;

                                a{
                                    font: 300 16px/1 $font;
                                    color: #aaa;
                                    transition: .4s;

                                    &:hover{color: #eee}
                                }
                            }
                        }
                        .left{
                            float: left;
                            width: 50%;
                        }
                        .right{
                            float: left;
                            width: 50%;
                        }
                    }
                }
                &.company{
                    margin-right: 0;
                    border-right: none;

                    h1{
                        font: 20px/1 "Gowun Batang";
                        color: #eee;
                        margin-bottom: 27px;
                    }
                    h2{
                        font: 300 16px/1 $font;
                        color: #bbb;
                        margin-bottom: 50px;

                        span{
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                    p{
                        font: 300 14px/1.6 "Gowun Batang";
                        color: #bbb;

                        span{display: block;}
                    }
                }
            }
        }
    }
}

#navi{
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);

    li{
        width: 15px;
        height: 15px;
        border-radius: 10px;
        background: #939ead;
        margin-bottom: 30px;
        cursor: pointer;
        transition: .6s;
        position: relative;

        &::before{
            content: '';
            display: none;
            width: 130%;
            height: 130%;
            border-radius: 50%;
            border: 1px solid transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .6s;
        }
        &::after{
            content: '';
            display: block;
            width: 2px;
            height: 30px;
            background: inherit;
            position: relative;
            top: 100%;
            left: 50%;
            margin-left: -2px;
            transition: .6s;
        }
        &:last-child::after{
            display: none;
        }
        &.on{
            background: #232D3A;

            &::before{
                display: block;
                border-color: #232D3A;
            }
        }
    }
}

.popup{
    width: 450px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -10px 10px 30px rgba(0,0,0,0.3);
    padding: 0;
    height: auto;

    .pic{
        width: 100%;
        height: 220px;
        background: url(../img/cookiePopup.jpg) no-repeat center/cover;
        opacity: 1;
    }
    .con{
        padding: 30px 50px 50px;
        text-align: center;

        h1{
            font: 600 32px/1 'Montserrat';
            color: #000;
            margin-bottom: 20px;
            text-align: center;
        }
        p{
            font: 300 20px/1.2 $font;
            color: #888;
            letter-spacing: -1px;
            margin-bottom: 40px;
            text-align: center;
        }
        input[type="text"]{
            width: 300px;
            height: 50px;
            border: 2px solid #000;
            font: bold 16px/46px 'Montserrat';
            color: #333;
            text-align: center;
            margin-bottom: 10px;

            &::placeholder{
                font: 600 15px/46px 'Montserrat';
                color: #555;
            }
        }
        button{
            width: 300px;
            height: 50px;
            background: #000;
            border: 2px solid #000;
            font: 400 16px/46px 'Montserrat';
            color: #fff;
            cursor: pointer;
        }
    }
    .cookieCk{
        position: absolute;
        bottom: 10px;
        right: 10px;

        input[type=checkbox]{display: none;}
        label{
            font: 13px/1 'Montserrat';
            color: #555;
            cursor: pointer;

            &::before{
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 2px;
                border: 1px solid #888;
                margin-right: 5px;
            }
            &.on::before{
                background: #555;
            }
        }
    }
    .close{
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover{
            &::before, &::after{
                background: #555;
            }
        }
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #888;
            transform: rotate(-45deg);
            position: absolute;
            top: 50%;
            left: 0;
            transition: .4s;
        }
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #888;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 0;
            transition: .4s;
        }
    }
}

@media screen and (max-width: $tablet){
    #header{
        padding: 0 30px;

        .inner{
            width: 100%;

            #gnb{
                display: none;
            }
            .lan{
                right: 50px;
            }
            .btnMo{
                display: block;
            }
        }
    }

    #visual{
        h1{
            font-size: 10vw;
        }
        .con{
            h2{
                font-size: 12px;
                margin-bottom: 15px;
            }
            p{
                font-size: 12px;
                line-height: 1.6;
            }
        }
    }

    #content{
        .inner{
            width: 100%;
            padding: 0 30px;
        }
        .intro{
            .box{margin-bottom: 70px;}
            .wrap{
                width: 90%;

                article{
                    padding: 0 30px;

                    .pic{
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
        .service{
            &.on .bg .box{right: 10vw;}
        }
        .news{
            .wrap{
                width: 90%;

                article{
                    padding: 0 30px;

                    .pic{
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }

    #footer{
        padding: 80px 30px;
    
        .inner{
            width: 100%;
    
            .wrap{
                >div{
                    width: 33%;
                    margin-right: 0;
                }
            }
        }
    }

    #navi{
        right: 7px;
    }
}

@media screen and (max-width: 980px){
    #content{
        .cs{
            padding: 100px 0;

            .inner{font-size: 0;}
            .pic{
                height: 300px;
                padding: 70px;
                margin-bottom: 20px;
            }
            article{
                width: 49%;
                height: 400px;
                padding: 0 20px;
                padding-top: 200px;
                text-align: center;
                margin-bottom: 20px;
                position: relative;
                right: auto;
                top: auto;
                display: inline-block;

                &:nth-of-type(1){margin-right: 2%;}
                .icon{
                    top: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    #footer{
        padding: 80px 20px 30px;

        .inner .wrap{
            >div{
                width: 50%;

                &.contact address{font-size: 14px;}
                &.about{
                    border-right: none;

                    .wrap ul li a{font-size: 14px;}
                }
                &.company{
                    width: 100%;
                    text-align: center;
                    margin-top: 50px;

                    h1{display: none;}
                    h2{
                        font-size: 13px;
                        margin-bottom: 10px;

                        span{
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                    p{
                        font-size: 12px;
                        line-height: 1;

                        span{
                            display: inline-block;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    #visual{
        height: 500px;
    }

    #content{
        .intro{
            .wrap{
                width: 100%;

                article{
                    padding: 0 10px;

                    .pic{
                        width: 120px;
                        height: 120px;
                    }
                }
            }
        }
        .news{
            .pic{margin-bottom: 50px;}
            .wrap{
                width: 100%;

                article{
                    padding: 0 10px;

                    .pic{
                        width: 120px;
                        height: 120px;
                    }
                }
            }
        }
    }
    
    .popup{
        width: 320px;

        .pic{height: 150px;}
        .con{
            padding: 20px 30px 40px;

            h1{
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                margin-bottom: 20px;
            }
            input[type="text"]{
                width: 250px;
                height: 40px;
                font-size: 13px;
                line-height: 40px;
                margin-bottom: 5px;

                &::placeholder{
                    font-size: 13px;
                }
            }
            button{
                width: 250px;
                height: 40px;
                font-size: 13px;
                line-height: 40px;
            }
        }
        .cookieCk{
            label{
                font-size: 11px;

                &::before{
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile){
    #header{
        padding: 0 10px;

        .inner{
            height: 60px;

            h1 a{font-size: 16px;}
            .lan{
                display: none;
            }
        }
        .gnbMo{
            height: calc(100vh - 61px);
            top: 61px;

            li a{
                padding: 30px 20px;
                font-size: 14px;
            }
        }
    }

    #visual{
        height: 300px;

        h1{
            font-size: 8vw;
            top: 30%;
        }
        .con{
            width: 40vw;

            h2{
                margin-bottom: 10px;
            }
            p{
                line-height: 1.2;
                font-size: 11px;
            }
        }
    }

    #content{
        .inner{padding: 0 10px}
        .intro{
            height: auto;

            &.on{
                .box >div{
                    left: 5%;
                }
            }
            .box{
                margin-bottom: 50px;

                >div{
                    width: 90%;
                }
            }
            .wrap article{
                width: 100%;
                padding: 25px 0 25px 120px;
                margin-bottom: 10px;
                position: relative;
                text-align: left;

                .pic{
                    width: 90px;
                    height: 90px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                h3{
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 14px;
                    line-height: 1.2;
                }
            }
        }
        .service{
            height: auto;
            padding: 50px 0 100px;

            &.on{
                .bg .box{right: 5%;}
            }
            h1{
                font-size: 20px;
                margin-bottom: 10px;
            }
            >p{
                width: 250px;
                font-size: 13px;
                line-height: 1.2;
            }
            .bg .box{
                width: 90%;
            }
        }
        .news{
            padding: 70px 0;
            height: auto;

            .pic{margin-bottom: 30px;}
            .wrap article{
                width: 100%;
                padding: 25px 0 25px 120px;
                position: relative;
                text-align: left;

                .pic{
                    width: 90px;
                    height: 90px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                h3{
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 14px;
                    line-height: 1.2;
                }
            }
        }
        .cs{
            height: auto;

            .pic{
                height: 200px;
                padding: 20px;

                h1{
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                >p{font-size: 14px;}
            }
            article{
                height: 320px;
                padding-top: 160px;

                .icon{
                    top: 20px;
                }
                h2{font-size: 16px;}
                p{
                    font-size: 14px;
                    line-height: 1.3;
                }
            }
        }
    }

    #footer{
        padding: 50px 10px 20px;

        .inner .wrap >div{
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
            padding-left: 0;
            border-right: none;

            &.contact{
                h1::after{margin: 0 auto;margin-top:10px}
                address{
                    margin-bottom: 20px;
                    line-height: 1.8;

                    i{font-size: 13px;}
                }
                .sns{
                    display: inline-block;

                    li a{font-size: 16px;}
                }
            }
            &.about{
                h1::after{margin: 0 auto;margin-top:10px}
                .wrap{
                    .left, .right{
                        width: 100%;
                        font-size: 0;

                        li{
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                }
            }
            &.company{
                margin: 0;

                h2 span{
                    margin-right: 5px;
                    font-size: 12px;
                }
            }
        }
    }

    #navi{display: none}
}





// sub
@import 'sub/common_sub';
@import 'sub/department';
@import 'sub/community';
@import 'sub/youtube';
@import 'sub/gallery';
@import 'sub/location';
@import 'sub/join';
