@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500&display=swap');
@import 'reset';

$font : 'Noto Sans KR';
$tablet : 1179px;
$mobile : 539px;

body{
    font-family: $font;
}

#header{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #bbb;
    position: relative;

    .inner{
        width: 1180px;
        height: 80px;
        margin: 0 auto;
        position: relative;

        h1{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 0;

            a{
                font: 600 20px/1 $font;
                color: #444;
            }
        }
        #gnb{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 750px;

            li{
                float: left;
                position: relative;

                a{
                    font: 400 16px/1 $font;
                    color: #666;
                    display: inline-block;
                    padding: 20px;
                }
                &:last-child a{
                    border-radius: 30px;
                    border: 2px solid #555;
                    padding: 5px 10px;
                    margin-top: 15px;
                    margin-left: 20px;
                    font-size: 14px;
                }
            }
        }
        .lan{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            li{
                float: left;
                margin-left: 10px;

                a{
                    font: 400 13px/1 $font;
                    color: #555;
                }
            }
        }
        .btnMo{
            display: none;
            width: 18px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -9px;
            overflow: hidden;

            span{
                display: block;
                width: 100%;
                height: 2px;
                background: #444;
                text-indent: -9999px;
                position: absolute;
                top: 7px;
                left: 0;
                transition: 1s;
            }
            &::before{
                content:'';
                display: block;
                width: 100%;
                height: 2px;
                background: #444;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s;
            }
            &::after{
                content:'';
                display: block;
                width: 100%;
                height: 2px;
                background: #444;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 1s;
            }
            &.on{
                span{
                    left: 100%;
                    opacity: 0;
                }
                &::before{
                    top: 7px;
                    transform: rotate(45deg);
                    transition: top 0.6s, transform 0.6s 0.6s;
                }
                &::after{
                    bottom: 7px;
                    transform: rotate(-45deg);
                    transition: bottom 0.6s, transform 0.6s 0.6s;
                }
            }
        }
    }
    .gnbMo{
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: -100%;
        background: #19191a;
        opacity: 0;
        transition: 1s;

        li{
            padding: 50px;
            border-bottom: 1px solid #444;

            a{
                font: 500 20px/1 $font;
                color: #fff;
            }
        }
        &.on{
            left: 0;
            opacity: 1;
        }
    }
}

#visual{
    width: 100%;
    height: calc(100vh - 81px);
    background-color: #ddd;
}

#intro{
    width: 100%;
    padding: 100px 0;

    .inner{
        width: 1180px;
        margin: 0 auto;

        h1{
            font: 100 30px/1 $font;
            color: #555;
            text-align: center;
            margin-bottom: 20px;
        }
        h2{
            font: 300 20px/1.4 $font;
            color: #333;
            text-align: center;
            margin-bottom: 100px;
        }
        .box{
            width: 100%;
            height: 400px;
            background: #555;
            position: relative;
            margin-bottom: 100px;

            >div{
                width: 300px;
                height: 110%;
                background: #251F28;
                position: absolute;
                left: 100px;
                top: -5%;
                padding: 60px;
                border-radius: 5px;

                h3{
                    font: 400 18px/1 $font;
                    color: #eee;
                    text-align: center;
                    letter-spacing: 2px;
                    margin-bottom: 40px;

                    &::after{
                        content:'';
                        display: block;
                        width: 34px;
                        height: 1px;
                        background: #eee;
                        margin-top: 30px;
                        margin-left: calc(50% - 17px);
                    }
                }
                .pic{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: #bbb;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                h4{
                    font: 300 18px/1 $font;
                    color: #ddd;
                    text-align: center;
                    margin-bottom: 15px;
                }
                p{
                    font: 200 16px/1.4 $font;
                    color: #ddd;
                    text-align: center;
                }
            }
        }
        .wrap{
            width: 80%;
            margin: 0 auto;

            article{
                width: 33.333%;
                float: left;
                text-align: center;
                padding: 0 50px;

                .pic{
                    display: inline-block;
                    width: 100%;
                    height: 200px;
                    border-radius: 50%;
                    background: #bbb;
                    margin-bottom: 20px;
                }
                h3{
                    font: 400 18px/1 $font;
                    color: #333;
                    margin-bottom: 10px;
                }
                p{
                    font: 200 16px/1.4 $font;
                    color: #444;
                }
            }
        }
    }
}

#service{
    width: 100%;
    height: 400px;
    background: #000;
    position: relative;

    >div{
        width: 300px;
        height: 110%;
        background: #251F28;
        position: absolute;
        right: 20vw;
        top: -5%;
        padding: 60px;
        border-radius: 5px;

        h1{
            font: 400 18px/1 $font;
            color: #eee;
            text-align: center;
            letter-spacing: 2px;
            margin-bottom: 40px;

            &::after{
                content:'';
                display: block;
                width: 34px;
                height: 1px;
                background: #eee;
                margin-top: 30px;
                margin-left: calc(50% - 17px);
            }
        }
        .pic{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #bbb;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        h2{
            font: 300 18px/1 $font;
            color: #ddd;
            text-align: center;
            margin-bottom: 15px;
        }
        p{
            font: 200 16px/1.4 $font;
            color: #ddd;
            text-align: center;
        }
    }
}

#news{
    width: 100%;
    padding: 100px 0;
    background: #F5F5F5;

    .inner{
        width: 1180px;
        margin: 0 auto;

        h1{
            font: 100 30px/1 $font;
            color: #555;
            text-align: center;
            margin-bottom: 20px;
        }
        h2{
            font: 300 20px/1.4 $font;
            color: #333;
            text-align: center;
            margin-bottom: 100px;
        }
        .pic{
            width: 100%;
            height: 400px;
            background: #000;
            margin-bottom: 100px;
        }
        .wrap{
            width: 80%;
            margin: 0 auto;

            article{
                width: 33.333%;
                float: left;
                text-align: center;
                padding: 0 50px;

                .pic{
                    display: inline-block;
                    width: 100%;
                    height: 180px;
                    border-radius: 5px;
                    background: #bbb;
                    margin-bottom: 20px;
                }
                h3{
                    font: 400 18px/1 $font;
                    color: #333;
                    margin-bottom: 10px;
                }
                p{
                    font: 200 16px/1.4 $font;
                    color: #444;
                }
            }
        }
    }
}

#cs{
    width: 100%;
    padding: 100px 0;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .pic{
            width: 100%;
            height: 400px;
            background: #000;
            position: relative;
            padding: 100px 70px;
            padding-right: 70%;

            h1{
                font: 100 30px/1 $font;
                color: #ddd;
                margin-bottom: 30px;
            }
            >p{
                font: 300 18px/1.6 $font;
                color: #ddd;
            }
            article{
                position: absolute;
                top: -5%;
                right: 100px;
                width: 500px;
                height: 50%;
                background: #251F28;
                border-radius: 5px;
                padding: 60px 0;
                padding-left: 180px;

                &:nth-of-type(2){
                    top: auto;
                    bottom: -5%;
                }
                .icon{
                    position: absolute;
                    top: 50px;
                    left: 50px;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: #322D35;
                    border: 1px solid #4e4a50;
                }
                h2{
                    font: 300 18px/1 $font;
                    color: #ddd;
                    margin-bottom: 15px;
                }
                p{
                    font: 200 16px/1.6 $font;
                    color: #ddd;
                }
            }
        }
    }
}

#footer{
    width: 100%;
    padding: 100px 0;
    background: #232D3A;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{
            >div{
                float: left;
                width: 380px;
                margin-right: 20px;
                padding-left: 30px;
                border-right: 1px solid rgba(255,255,255,0.1);

                &.contact{
                    padding-left: 0;

                    h2{
                        font: 16px/1 $font;
                        color: #eee;
                        margin-bottom: 20px;
                        position: relative;

                        &::after{
                            content:'';
                            display: block;
                            width: 24px;
                            height: 2px;
                            background: #bbb;
                            margin-top: 10px;
                        }
                    }
                    address{
                        font: 300 16px/2 $font;
                        color: #aaa;
                        margin-bottom: 40px;

                        i{
                            font-size: 16px;
                            color: #aaa;
                            margin-right: 10px;
                        }
                    }
                    .sns{
                        li{
                            float: left;

                            &:hover a{
                                color: #aaa;
                            }
                            a{
                                font-size: 18px;
                                color: #777;
                                margin-right: 20px;
                                transition: .4s;
                            }
                            &:last-child a{
                                margin-right: 0;
                            }
                        }
                    }
                }
                &.about{
                    h2{
                        font: 16px/1 $font;
                        color: #eee;
                        margin-bottom: 20px;
                        position: relative;

                        &::after{
                            content:'';
                            display: block;
                            width: 24px;
                            height: 2px;
                            background: #bbb;
                            margin-top: 10px;
                        }
                    }
                    .wrap{
                        ul{
                            li{
                                margin-bottom: 10px;

                                a{
                                    font: 300 16px/1 $font;
                                    color: #aaa;
                                    transition: .4s;

                                    &:hover{color: #eee}
                                }
                            }
                        }
                        .left{
                            float: left;
                            width: 50%;
                        }
                        .right{
                            float: left;
                            width: 50%;
                        }
                    }
                }
                &.company{
                    margin-right: 0;
                    border-right: none;

                    h1{
                        font: 20px/1 $font;
                        color: #eee;
                        margin-bottom: 40px;
                    }
                    h2{
                        font: 300 16px/1 $font;
                        color: #bbb;
                        margin-bottom: 50px;

                        span{
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                    p{
                        font: 300 14px/1.6 $font;
                        color: #bbb;

                        span{display: block;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet){
    #header{
        padding: 0 30px;

        .inner{
            width: 100%;

            #gnb{
                display: none;
            }
            .lan{
                right: 50px;
            }
            .btnMo{
                display: block;
            }
        }
    }

    #footer{
        padding: 100px 30px;
    
        .inner{
            width: 100%;
    
            .wrap{
                >div{
                    width: 33%;
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 980px){
    #footer{
        padding: 80px 20px 30px;

        .inner .wrap{
            >div{
                width: 50%;

                &.contact address{font-size: 14px;}
                &.about{
                    border-right: none;

                    .wrap ul li a{font-size: 14px;}
                }
                &.company{
                    width: 100%;
                    text-align: center;
                    margin-top: 50px;

                    h1{display: none;}
                    h2{
                        font-size: 13px;
                        margin-bottom: 10px;

                        span{
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                    p{
                        font-size: 12px;
                        line-height: 1;

                        span{
                            display: inline-block;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile){
    #header{
        padding: 0 10px;

        .inner{
            .lan{
                display: none;
            }
        }
    }

    #footer{
        padding: 50px 10px 20px;

        .inner .wrap >div{
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
            padding-left: 0;
            border-right: none;

            &.contact{
                h2::after{display: none;}
                address{
                    margin-bottom: 20px;
                    line-height: 1.8;

                    i{font-size: 13px;}
                }
                .sns{
                    display: inline-block;

                    li a{font-size: 16px;}
                }
            }
            &.about{
                h2::after{display: none;}
                .wrap{
                    .left, .right{
                        width: 100%;
                        font-size: 0;

                        li{
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                }
            }
            &.company{
                margin: 0;

                h2 span{
                    margin-right: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}