@import 'header_sub';


.content{
    width: 100%;

    .visual{
        width: 100%;
        background: #555;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 100px;
        padding: 100px 0;

        h1{
            font: 600 40px/1 $font;
            color: #ddd;
            text-align: center;
            margin-bottom: 14px;
        }
        p{
            font: 100 14px/1 $font;
            color: #ccc;
            text-align: center;
        }
    }
    .inner{
        width: 1180px;
        margin: 0 auto;
        padding-bottom: 100px;
        position: relative;
    }
}

@media screen and (max-width: $tablet){
    .content{
        .inner{
            width: 100%;
            padding: 0 30px 100px;
        }
    } 
}

@media screen and (max-width: $mobile){
    .content{
        .visual{
            margin-bottom: 50px;
            
            h1{
                font-size: 28px;
                margin-bottom: 5px;
            }
            p{font-size: 12px;}
        }
        .inner{
            padding: 0 10px 50px;

        }
    }
}

@import 'footer_sub';