#footer_sub{
    width: 100%;
    padding: 100px 0;
    background: #232D3A;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{
            >div{
                float: left;
                width: 380px;
                margin-right: 20px;
                padding-left: 30px;
                border-right: 1px solid rgba(255,255,255,0.1);

                &.contact{
                    padding-left: 0;

                    h1{
                        font: 16px/1 "Gowun Batang";
                        color: #eee;
                        margin-bottom: 20px;
                        position: relative;

                        &::after{
                            content:'';
                            display: block;
                            width: 24px;
                            height: 2px;
                            background: #bbb;
                            margin-top: 10px;
                        }
                    }
                    address{
                        font: 300 16px/2 $font;
                        color: #aaa;
                        margin-bottom: 40px;

                        i{
                            font-size: 16px;
                            color: #aaa;
                            margin-right: 10px;
                        }
                    }
                    .sns{
                        li{
                            float: left;

                            &:hover a{
                                color: #aaa;
                            }
                            a{
                                font-size: 18px;
                                color: #777;
                                margin-right: 20px;
                                transition: .4s;
                            }
                            &:last-child a{
                                margin-right: 0;
                            }
                        }
                    }
                }
                &.about{
                    h1{
                        font: 16px/1 "Gowun Batang";
                        color: #eee;
                        margin-bottom: 20px;
                        position: relative;

                        &::after{
                            content:'';
                            display: block;
                            width: 24px;
                            height: 2px;
                            background: #bbb;
                            margin-top: 10px;
                        }
                    }
                    .wrap{
                        ul{
                            li{
                                margin-bottom: 10px;

                                a{
                                    font: 300 16px/1 $font;
                                    color: #aaa;
                                    transition: .4s;

                                    &:hover{color: #eee}
                                }
                            }
                        }
                        .left{
                            float: left;
                            width: 50%;
                        }
                        .right{
                            float: left;
                            width: 50%;
                        }
                    }
                }
                &.company{
                    margin-right: 0;
                    border-right: none;

                    h1{
                        font: 20px/1 "Gowun Batang";
                        color: #eee;
                        margin-bottom: 27px;
                    }
                    h2{
                        font: 300 16px/1 $font;
                        color: #bbb;
                        margin-bottom: 50px;

                        span{
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                    p{
                        font: 300 14px/1.6 "Gowun Batang";
                        color: #bbb;

                        span{display: block;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet){
    #footer_sub{
        padding: 100px 30px;
    
        .inner{
            width: 100%;
    
            .wrap{
                >div{
                    width: 33%;
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 980px){
    #footer_sub{
        padding: 80px 20px 30px;

        .inner .wrap{
            >div{
                width: 50%;

                &.contact address{font-size: 14px;}
                &.about{
                    border-right: none;

                    .wrap ul li a{font-size: 14px;}
                }
                &.company{
                    width: 100%;
                    text-align: center;
                    margin-top: 50px;

                    h1{display: none;}
                    h2{
                        font-size: 13px;
                        margin-bottom: 10px;

                        span{
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                    p{
                        font-size: 12px;
                        line-height: 1;

                        span{
                            display: inline-block;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile){
    #footer_sub{
        padding: 50px 10px 20px;

        .inner .wrap >div{
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
            padding-left: 0;
            border-right: none;

            &.contact{
                h2::after{display: none;}
                address{
                    margin-bottom: 20px;
                    line-height: 1.8;

                    i{font-size: 13px;}
                }
                .sns{
                    display: inline-block;

                    li a{font-size: 16px;}
                }
            }
            &.about{
                h2::after{display: none;}
                .wrap{
                    .left, .right{
                        width: 100%;
                        font-size: 0;

                        li{
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                }
            }
            &.company{
                margin: 0;

                h2 span{
                    margin-right: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}