.gallery{
    .visual{
    }
    .intro{
        .wrap{
            article{
                float: left;
                width: 33.333%;
                padding: 0 50px;
                border-right: 1px solid #eee;

                &:nth-of-type(3){border-right: none;}
                h1{
                    font: 600 18px/1 $font;
                    color: #111;
                    margin-bottom: 15px;
                    position: relative;

                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #111;
                        margin-top: 20px;
                    }
                    a{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 10px;
                        width: 25px;
                        height: 1px;
                        background: #555;

                        &::before{
                            content:'';
                            display: block;
                            width: 6px;
                            height: 1px;
                            background: inherit;
                            transform: rotate(45deg);
                            transform-origin: right center;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        &::after{
                            content:'';
                            display: block;
                            width: 6px;
                            height: 1px;
                            background: inherit;
                            transform: rotate(-45deg);
                            transform-origin: right center;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
                .pic{
                    width: 100%;
                    height: 180px;
                    background: #bbb;
                    margin-bottom: 10px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                p{
                    font: 400 14px/1 $font;
                    color: #555;
                    margin-bottom: 10px;

                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #ddd;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .history{
        background: #ddd;
        margin-bottom: 100px;

        .inner{
            padding-bottom: 0;

            .con{
                float: left;
                width: 50%;
                padding: 100px;
                text-align: center;
    
                h1{
                    font: 600 28px/1.2 $font;
                    color: #111;
                    margin-bottom: 30px;
                }
                p{
                    font: 100 14px/1.4 $font;
                    color: #888;
                    margin-bottom: 50px;
                }
                a{
                    display: inline-block;
                    font: 600 10px/1 $font;
                    color: #111;
                    position: absolute;
                    margin-left: -30px;
    
                    span{
                        display: block;
                        position: absolute;
                        right: -30px;
                        top: 5px;
                        width: 25px;
                        height: 1px;
                        background: #111;
    
                        &::before{
                            content:'';
                            display: block;
                            width: 6px;
                            height: 1px;
                            background: inherit;
                            transform: rotate(45deg);
                            transform-origin: right center;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        &::after{
                            content:'';
                            display: block;
                            width: 6px;
                            height: 1px;
                            background: inherit;
                            transform: rotate(-45deg);
                            transform-origin: right center;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
            }
            .pic{
                float:left;
                width: 50%;
                height: 420px;
                background: #bbb url(../img/gallery4.jpg) no-repeat center/cover;
                opacity: 0.8;
            }
        }
    }
    .collection{
        position: relative;

        h1{
            font: 600 28px/1 $font;
            color: #111;
            margin-bottom: 10px;
            position: relative;

            &::after{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #111;
                margin-top: 10px;
            }
            a{
                display: block;
                position: absolute;
                top: 15px;
                right: 30px;
                font: 600 10px/1 $font;
                color: #111;

                span{
                    display: block;
                    width: 25px;
                    height: 1px;
                    background: #111;
                    position: absolute;
                    top: 50%;
                    right: -30px;

                    &::before{
                        content: '';
                        display: block;
                        width: 6px;
                        height: 1px;
                        background: #111;
                        transform: rotate(45deg);
                        transform-origin: right center;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 6px;
                        height: 1px;
                        background: #111;
                        transform: rotate(-45deg);
                        transform-origin: right center;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
        p{
            font: 100 11px/1.4 $font;
            color: #888;
            margin-bottom: 20px;
        }
        .loading{
            width: 200px;
            height: 200px;
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            transition: 1s;

            &.off{
                opacity: 0;
            }
        }
        .photos{
            width: 100%;
            min-height: 500px;
            margin-bottom: 20px;
            transform: translateY(100px);
            opacity: 0;
            transition: 1s;

            &.on{
                transform: translateY(0px);
                opacity: 1;
            }
            li{
                float: left;
                width: 25%;
                padding: 0 20px;
                margin-bottom: 30px;

                .li_inner{
                    width: 100%;
                    height: 100%;

                    a{
                        display: block;
                        margin-bottom: 20px;
    
                        img{
                            width: 100%;
                        }
                    }
                    h1{
                        font: 400 14px/1 $font;
                        color: #111;
                        margin-bottom: 10px;
                    }
                    h2{
                        font: 300 11px/1 $font;
                        color: #888;
                    }
                }
            }
        }
        .btn{
            display: block;
            width: 150px;
            height: 40px;
            border-radius: 30px;
            background: #232D3A;
            font: 400 14px/40px $font;
            color: #fff;
            text-align: center;
            margin: 0 auto;
        }
    }
    aside{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding:200px;
        background: rgba(0,0,0,0.9);
        z-index: 2;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .close{
            font: 500 18px/1 $font;
            color: #fff;
            position: absolute;
            top: 5vw;
            right: 5vw;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $tablet) {
    .gallery{
        .intro{
            .inner{
                padding: 0 30px 100px;
            }
            .wrap article{
                padding: 0 20px;
            }
        }
        .history{
            margin-bottom: 0px;

            .inner{
                padding: 100px 30px;

                .con{
                    padding: 50px;
                }
            }
        }
        .collection{
            .inner{padding: 100px 30px}
            .photos{
                li{
                    width: 33.333%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .gallery{
        .intro{
            .wrap article{
                padding: 0 10px;

                h1{
                    font-size: 15px;

                    &::after{margin-top: 10px;}
                }
                .pic{
                    height: 130px;
                }
                p{
                    font-size: 12px;
                    line-height: 1.2;
                }
            }
        }
        .history{
            .inner{
                .con{
                    padding: 40px;

                    h1{font-size: 18px;}
                }
                .pic{height: 400px;}
            }
        }
        .collection{
            .photos li{
                width: 50%;
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .gallery{
        .intro .inner{
            padding: 0 10px 50px;

            .wrap article .pic{
                height: 80px;
            }
        }
        .history .inner{
            padding: 50px 10px;

            .con{
                width: 100%;
                padding: 0 30px 50px;

                h1{margin-bottom: 20px;}
                p{font-size: 12px;margin-bottom: 30px;}
                a{margin-left: -40px;}
            }
            .pic{
                width: 100%;
                height: 200px;
            }
        }
        .collection{
            .inner{padding: 50px 30px}
            .photos li{
                width: 100%;
                padding: 0;
            }
        }
    }
}