#header_sub{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #bbb;
    position: relative;

    .inner{
        width: 1180px;
        height: 80px;
        margin: 0 auto;
        position: relative;

        h1{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 0;

            a{
                font: 600 20px/1 "Gowun Batang";
                color: #232D3A;
                transition: .4s;

                &:hover{
                    color: #000;
                }
            }
        }
        #gnb{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 750px;

            li{
                float: left;
                position: relative;

                &:not(:last-child)::after{
                    content: '';
                    display: block;
                    width: 0px;
                    height: 2px;
                    background: #111;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -12px;
                    transition: .6s;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                    a{
                        color: #111;
                    }
                    &:last-child a{
                        border-color: #111;
                    }
                }
                a{
                    font: 500 16px/1 'Montserrat';
                    color: #666;
                    display: inline-block;
                    padding: 20px;
                    transition: .4s;
                }
                &:last-child a{
                    border-radius: 30px;
                    border: 2px solid #555;
                    padding: 5px 10px;
                    margin-top: 15px;
                    margin-left: 20px;
                    font-size: 14px;
                }
            }
        }
        .lan{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            li{
                float: left;
                margin-left: 10px;

                a{
                    font: 400 13px/1 'Montserrat';
                    color: #555;
                    transition: .4s;

                    &:hover{
                        color: #111;
                    }
                }
            }
        }
        .btnMo{
            display: none;
            width: 18px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -9px;
            overflow: hidden;

            span{
                display: block;
                width: 100%;
                height: 2px;
                background: #444;
                text-indent: -9999px;
                position: absolute;
                top: 7px;
                left: 0;
                transition: 1s;
            }
            &::before{
                content:'';
                display: block;
                width: 100%;
                height: 2px;
                background: #444;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s;
            }
            &::after{
                content:'';
                display: block;
                width: 100%;
                height: 2px;
                background: #444;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 1s;
            }
            &.on{
                span{
                    left: 100%;
                    opacity: 0;
                }
                &::before{
                    top: 7px;
                    transform: rotate(45deg);
                    transition: top 0.6s, transform 0.6s 0.6s;
                }
                &::after{
                    bottom: 7px;
                    transform: rotate(-45deg);
                    transition: bottom 0.6s, transform 0.6s 0.6s;
                }
            }
        }
    }
    .gnbMo{
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: -100%;
        background: #19191a;
        opacity: 0;
        transition: 1s;
        z-index: 10;

        li{
            padding: 50px;
            border-bottom: 1px solid #444;

            a{
                font: 500 20px/1 $font;
                color: #fff;
            }
        }
        &.on{
            left: 0;
            opacity: 1;
        }
    }
}

@media screen and (max-width: $tablet){
    #header_sub{
        padding: 0 30px;

        .inner{
            width: 100%;

            #gnb{
                display: none;
            }
            .lan{
                right: 50px;
            }
            .btnMo{
                display: block;
            }
        }
    }
}

@media screen and (max-width: $mobile){
    #header_sub{
        padding: 0 10px;

        .inner{
            height: 60px;

            h1 a{font-size: 16px;}
            .lan{
                display: none;
            }
        }
    }
}