.location{
    .info{
        border-bottom: 1px solid #ddd;
        margin-bottom: 100px;

        >.wrap{
            width: 80%;
            margin: 0 auto;

            article{
                float: left;
                width: 33.333%;
                padding: 50px 70px;

                h1{
                    font: 600 24px/1 $font;
                    color: #111;
                    margin-bottom: 30px;
                    letter-spacing: -1px;
                }
                h2{
                    font: 500 18px/1 $font;
                    color: #333;
                    text-decoration: underline;
                    letter-spacing: -1px;
                    margin-bottom: 25px;
                    cursor: pointer;
                }
                h3{
                    font: 600 14px/1 $font;
                    color: #333;

                    i{
                        font-size: 20px;
                        color: #111;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
                a{
                    display: block;
                    width: 150px;
                    height: 35px;
                    background: #232D3A;
                    font: 600 13px/35px $font;
                    color: #ddd;
                    text-align: center;
                    margin-top: -10px;

                    &:hover{
                        color: #fff
                    }
                }
            }
        }
    }
    .maps{
        margin-bottom: 150px;

        h1{
            font: 500 20px/1 "Gowun Batang";
            color: #111;
            margin-bottom: 20px;
        }
        .wrap{
            >div{
                float: left;
                width: 48%;

                &:nth-of-type(1){margin-right: 4%;}
                #map1, #map2{
                    width: 100%;
                    height: 400px;
                    margin-bottom: 30px;
                    filter: saturate(50%);
                }
                h2{
                    font: 600 18px/1 $font;
                    color: #111;
                    margin-bottom: 20px;

                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #ddd;
                        margin-top: 20px;
                    }
                }
                address{
                    float: left;
                    width: 50%;
                    font: 500 16px/1.4 $font;
                    color: #333;
                }
                p{
                    float: right;
                    width: 30%;
                    font: 500 16px/1.4 $font;
                    color: #333;
                    text-align: right;
                }
            }
        }
    }
    .faq{
        .wrap{
            .left{
                float:left;
                width: 50%;

                h1{
                    font: 500 16px/1 "Gowun Batang";
                    color: #333;
                }
                h2{
                    font: 600 70px/1.1 $font;
                    color: #111;

                    span{font-size: 95px;}
                }
            }
            .right{
                float: left;
                width: 50%;

                h3{
                    font: 600 16px/1 $font;
                    color: #111;
                    margin-bottom: 30px;
                }
                p{
                    width: 80%;
                    font: 300 14px/1.8 $font;
                    color: #888;
                    margin-bottom: 30px;
                }
                ul li{
                    font: 600 15px/1 $font;
                    color: #777;
                    position: relative;
                    margin-bottom: 40px;

                    a{
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: #232D3A;
                        position: absolute;
                        top: 0;
                        right: 0;

                        &::before{
                            content: '';
                            display: block;
                            width: 5px;
                            height: 1px;
                            background: #fff;
                            transform: rotate(45deg);
                            transform-origin: left center;
                            position: absolute;
                            top: 6px;
                            left: 4px;
                        }
                        &::after{
                            content: '';
                            display: block;
                            width: 5px;
                            height: 1px;
                            background: #fff;
                            transform: rotate(-45deg);
                            transform-origin: right center;
                            position: absolute;
                            top: 6px;
                            right: 4px;
                        }
                    }
                    div{
                        display: none;
                        width: 100%;
                        padding: 20px 0;
                        font: 500 14px/1 $font;
                        color: #888;
                    }
                }
            }
        }
    }
}