.location{
    .info{
        border-bottom: 1px solid #ddd;
        margin-bottom: 100px;

        >.wrap{
            width: 80%;
            margin: 0 auto;

            article{
                float: left;
                width: 33.333%;
                padding: 50px 70px;

                h1{
                    font: 600 24px/1 $font;
                    color: #111;
                    margin-bottom: 30px;
                    letter-spacing: -1px;
                }
                h2{
                    font: 500 18px/1 $font;
                    color: #333;
                    text-decoration: underline;
                    letter-spacing: -1px;
                    margin-bottom: 25px;
                    cursor: pointer;
                }
                h3{
                    font: 600 14px/1 $font;
                    color: #333;

                    i{
                        font-size: 20px;
                        color: #111;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
                a{
                    display: block;
                    width: 150px;
                    height: 35px;
                    background: #232D3A;
                    font: 600 13px/35px $font;
                    color: #ddd;
                    text-align: center;
                    margin-top: -10px;

                    &:hover{
                        color: #fff
                    }
                }
            }
        }
    }
    .maps{
        margin-bottom: 150px;

        h1{
            font: 500 20px/1 "Gowun Batang";
            color: #111;
            margin-bottom: 20px;
        }
        .wrap{
            >div{
                float: left;
                width: 48%;

                &:nth-of-type(1){margin-right: 4%;}
                #map1, #map2{
                    width: 100%;
                    height: 400px;
                    margin-bottom: 30px;
                    filter: saturate(50%);
                }
                h2{
                    font: 600 18px/1 $font;
                    color: #111;
                    margin-bottom: 20px;

                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #ddd;
                        margin-top: 20px;
                    }
                }
                address{
                    float: left;
                    width: 50%;
                    font: 500 16px/1.4 $font;
                    color: #333;
                }
                p{
                    float: right;
                    width: 40%;
                    font: 500 16px/1.4 $font;
                    color: #333;
                    text-align: right;
                }
            }
        }
    }
    .faq{
        .wrap{
            .left{
                float:left;
                width: 50%;

                h1{
                    font: 500 16px/1 "Gowun Batang";
                    color: #333;
                }
                h2{
                    font: 600 60px/1.2 $font;
                    color: #111;

                    span{font-size: 80px;}
                }
            }
            .right{
                float: left;
                width: 50%;

                h3{
                    font: 600 16px/1 $font;
                    color: #111;
                    margin-bottom: 30px;
                }
                p{
                    width: 80%;
                    font: 300 14px/1.8 $font;
                    color: #888;
                    margin-bottom: 30px;
                }
                ul li{
                    font: 600 15px/1 $font;
                    color: #777;
                    position: relative;
                    padding-bottom: 40px;
                    cursor: pointer;

                    &.on{
                        color: #555;

                        a{
                            transform: rotate(180deg);
                        }
                    }
                    a{
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: #232D3A;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transition: .6s;

                        &::before{
                            content: '';
                            display: block;
                            width: 5px;
                            height: 1px;
                            background: #fff;
                            transform: rotate(45deg);
                            transform-origin: left center;
                            position: absolute;
                            top: 6px;
                            left: 4px;
                        }
                        &::after{
                            content: '';
                            display: block;
                            width: 5px;
                            height: 1px;
                            background: #fff;
                            transform: rotate(-45deg);
                            transform-origin: right center;
                            position: absolute;
                            top: 6px;
                            right: 4px;
                        }
                    }
                    div{
                        display: none;
                        width: 100%;
                        padding: 20px;
                        font: 500 14px/1 $font;
                        color: #888;
                        border-bottom: 1px solid #ddd;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet){
    .location{
        .info{
            .wrap{
                width: 100%;

                article{padding: 5vw;}
            }
        }
        .faq{
            .wrap .right p{width: 100%;}
        }
    }
}

@media screen and (max-width: 768px){
    .location{
        .info{
            .wrap{
                article{
                    padding: 0 10px 30px;

                    h1{
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                    h2{
                        font-size: 15px;
                        margin-bottom: 20px;
                    }
                    h3{
                        font-size: 13px;

                        i{font-size: 16px;}
                    }
                    a{
                        width: 130px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 11px;
                    }
                }
            }
        }
        .maps{
            .wrap >div{
                address{
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                p{
                    width: 100%;
                    font-size: 12px;
                }
            }
        }
        .faq{
            .wrap{
                .left{
                    width: 100%;
                    margin-bottom: 40px;

                    h1{font-size: 14px;}
                    h2{
                        font-size: 40px;
                        line-height: 1;

                        p{display: inline-block;}
                        span{
                            font-size: 50px;
                        }
                    }
                }
                .right{
                    width: 100%;

                    h3{
                        margin-bottom: 10px;
                    }
                    p{
                        line-height: 1.6;
                    }
                    ul li{
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile){
    .location{
        .info{
            margin-bottom: 50px;

            .wrap article{
                h1{
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                h2{
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                h3{
                    font-size: 11px;

                    i{
                        font-size: 12px;
                        margin-right: 2px;
                    }
                }
                a{
                    width: 90px;
                    height: 25px;
                    line-height: 25px;
                    font-weight: 500;
                    font-size: 10px;
                    margin-top: -5px;
                }
            }
        }
        .maps{
            margin-bottom: 50px;

            h1{font-size: 18px;margin-bottom: 10px;}
            .wrap >div{
                width: 100%;
                margin-bottom: 30px;

                #map1, #map2{
                    height: 200px;
                    margin-bottom: 20px;
                }
                h2{
                    font-size: 14px;
                    margin-bottom: 10px;

                    &::after{
                        margin-top: 10px;
                    }
                }
                address{
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}